{% comment %}

Format:
<ul>
  <li><strong>section label</strong>
    <ul>
      <li>page if-links...</li>
    </ul>
  </li>
<ul>


{% endcomment %}

<h3><a href="./index.html">Puppet Enterprise 3.2</a></h3>

<ul>
  <li><strong>Обзор</strong>
    <ul>
      <li>{% iflink "О Puppet Enterprise", "./overview_about_pe.html" %}</li>
      <li>{% iflink "Новые возможности", "./overview_whats_new.html" %}</li>
      <li>{% iflink "Как получить поддержку", "./overview_getting_support.html" %}</li>
    </ul>
  </li>
  <li><strong>Быстрое введение</strong>
    <ul>
        <li>{% iflink "Быстрое введение: использование PE", "./quick_start.html" %}</li>
        <li>{% iflink "Быстрое введение: написание модулей (Windows)", "./quick_writing_windows.html" %}</li>
        <li>{% iflink "Быстрое введение: написание модулей (Linux)", "./quick_writing_nix.html" %}</li>
    </ul>
  </li>
  <li><strong>Установка Puppet Enterprise</strong>
    <ul>
      <li>{% iflink "Системные требования", "./install_system_requirements.html" %}</li>
      <li>{% iflink "Установка PE", "./install_basic.html" %}</li>
      <li>{% iflink "Установка агентов Windows", "./install_windows.html" %}</li>
      <li>{% iflink "Обновление", "./install_upgrading.html" %}</li>
      <li>{% iflink "Удаление", "./install_uninstalling.html" %}</li>
      <li>{% iflink "Автоматическая установка", "./install_automated.html" %}</li>
      <li>{% iflink "Справочник по файлам ответов", "./install_answer_file_reference.html" %}</li>
      <li>{% iflink "Куда что устанавливается?", "./install_what_and_where.html" %}</li>
    </ul>
  </li>
  <li><strong>Консоль PE</strong>
    <ul>
      <li>{% iflink "Получение доступа к консоли", "./console_accessing.html" %}</li>
      <li>{% iflink "Навигация в консоли", "./console_navigating.html" %}</li>
      <li>{% iflink "Навигация на странице живого управления", "./console_navigating_live_mgmt.html" %}</li>
      <li>{% iflink "Работа с требованиями нод", "./console_cert_mgmt.html" %}</li>
      <li>{% iflink "Группировка и классификация нод", "./console_classes_groups.html" %}</li>
      <li>{% iflink "Использование инспектора событий", "./console_event-inspector.html" %}</li>
      <li>{% iflink "Просмотр отчетов и данных Inventory", "./console_reports.html" %}</li>
      <li>{% iflink "Управление пользователями", "./console_auth.html" %}</li>
      <li>{% iflink "Поиск в Inventory", "./console_inventory_search.html" %}</li>
      <li>{% iflink "Rake API и список заданий", "./console_rake_api.html" %}</li>
      <li>{% iflink "Rake API: список заданий (старый стиль аргументов)", "./console_rake_api_old.html" %}</li>
      <li>{% iflink "Настройка консоли", "./console_config.html" %}</li>
    </ul>
  </li>
  <li><strong>Ядро Puppet</strong>
    <ul>
      <li>{% iflink "Обзор", "./puppet_overview.html" %}</li>
      <li>{% iflink "Модули и манифесты", "./puppet_modules_manifests.html" %}</li>
      <li>{% iflink "Назначаем нодам конфигурацию", "./puppet_assign_configurations.html" %}</li>
      <li>{% iflink "Инструменты", "./puppet_tools.html" %}</li>
      <li>{% iflink "Библиотека данных Puppet", "./puppet_data_library.html" %}</li>
      <li>{% iflink "Ссылки", "./puppet_references.html" %}</li>
      <li>{% iflink "Настройка ядра Puppet", "./puppet_config.html" %}</li>
    </ul>
  </li>
  <li><strong>Orchestration</strong>
    <ul>
      <li>{% iflink "Обзор", "./orchestration_overview.html" %}</li>
      <li>{% iflink "Вызов действий", "./orchestration_invoke_cli.html" %}</li>
      <li>{% iflink "Контроль Puppet", "./orchestration_puppet.html" %}</li>
      <li>{% iflink "Просмотр ресурсов", "./orchestration_resources.html" %}</li>
      <li>{% iflink "Список встроенных действий", "./orchestration_actions.html" %}</li>
      <li>{% iflink "Добавление новых действий", "./orchestration_adding_actions.html" %}</li>
      <!-- <li>{% iflink "Integrating Applications", "./orchestration_integrating.html" %}</li> -->
      <li>{% iflink "Настройка Orchestration", "./orchestration_config.html" %}</li>
    </ul>
  </li>
   <li><strong>Развертывание PE</strong>
    <ul>
      <li>{% iflink "Базовое введение по развертыванию", "../../guides/deployment_guide/index.html" %}</li>
      <li>{% iflink "Запуск агентов без привилегий суперпользователя", "./deploy_nonroot-agent.html" %}</li>
      <li>{% iflink "Начальное введение в модули", "../../guides/module_guides/bgtm.html" %}</li>
      <li>{% iflink "Деактивация ноды агента PE", "./node_deactivation.html" %}</li>
      <li>{% iflink "Регенерация сертификата агента Puppet", "./agent_cert_regen.html" %}</li>
      <li>{% iflink "Использование внешнего центра сертификации в PE", "./external_ca.html" %}</li>
      <li>{% iflink "Настройка консоли Puppet Enterprise для использования своего SSL-сертификата", "./custom_console_cert.html" %}</li>
    </ul>
</li>
  <li><strong>Provisioning с помощью Razor</strong>
    <ul>
      <li>{% iflink "Provisioning с помощью Razor на голом железе", "./razor_intro.html" %}</li>
      <li>{% iflink "Настройка виртуального окружения для Razor", "./razor_prereqs.html" %}</li>
      <li>{% iflink "Установка Razor", "./razor_install.html" %}</li>
      <li>{% iflink "Настройка Razor Provisioning", "./razor_using.html" %}</li>
      <li>{% iflink "Справочник команд Razor", "./razor_reference.html" %}</li>
      <li>{% iflink "Теги Razor", "./razor_tags.html" %}</li>
      <li>{% iflink "Типы брокеров Razor", "./razor_brokertypes.html" %}</li>
      <li>{% iflink "Задачи Razor", "./razor_tasks.html" %}</li>
      <li>{% iflink "Информация о настройке Razor и известные ошибки", "./razor_knownissues.html" %}</li>
    </ul>
  </li>
  <li><strong>Облачные Provisioners</strong>
    <ul>
      <li>{% iflink "Обзор", "./cloudprovisioner_overview.html" %}</li>
      <li>{% iflink "Установка & Настройка облачного Provisioner", "./cloudprovisioner_configuring.html" %}</li>
      <li>{% iflink "Provisioning с помощью VMware", "./cloudprovisioner_vmware.html" %}</li>
      <li>{% iflink "Provisioning с помощью GCE", "./cloudprovisioner_gce.html" %}</li>
      <li>{% iflink "Provisioning с помощью AWS", "./cloudprovisioner_aws.html" %}</li>
      <li>{% iflink "Классификация нод & Удаленная установка Puppet", "./cloudprovisioner_classifying_installing.html" %}</li>
      <li>{% iflink "Рабочий процесс для примера", "./cloudprovisioner_workflow.html" %}</li>
    </ul>
  </li>
  <li><strong>Модуль аккаунтов PE</strong>
    <ul>
      <li>{% iflink "Тип pe_accounts::user", "./accounts_user_type.html" %}</li>
      <li>{% iflink "Класс pe_accounts", "./accounts_class.html" %}</li>
    </ul>
  </li>
   <li><strong>Обслуживание</strong>
    <ul>
      <li>{% iflink "Обслуживание консоли & Базы данных", "./maintain_console-db.html" %}</li>
      <li>{% iflink "Резервное копирование и восстановление PE", "./maintain_backup_restore.html" %}</li>
      <!--
<li> {% iflink "Puppet Core Maintenance", "./maintain_puppet.html" %}</li>
      <li> {% iflink "Orchestration Maintenance", "./maintain_orchestration.html" %}</li>
 -->
    </ul>
  </li>
  <li><strong>Решение проблем</strong>
    <ul>
     <li> {% iflink "Решение проблем с установщиком", "./trouble_install.html" %}</li>
     <li> {% iflink "Решение проблем с соединениями и связями", "./trouble_comms.html" %}</li>
     <li> {% iflink "Решение проблем с консолью и базой данных", "./trouble_console-db.html" %}</li>
     <li> {% iflink "Решение проблем с ядром Puppet", "./trouble_puppet.html" %}</li>
     <li> {% iflink "Решение проблем с Orchestration", "./trouble_orchestration.html" %}</li>
     <li> {% iflink "Решение проблем с облачным Provisioner", "./trouble_cloudprovisioner.html" %}</li>
     <li> {% iflink "Решение проблем с Windows", "./trouble_windows.html" %}</li>
      <li>{% iflink "Восстановление сертификатов: разделенные внедрения", "./trouble_regenerate_certs_split.html" %}</li>
      <li>{% iflink "Восстановление сертификатов: монолитные внедрения", "./trouble_regenerate_certs_monolithic.html" %}</li>
    </ul>
  </li>
  <li><strong>Приложения</strong>
    <ul>
      <li>{% iflink "Заметки о версии", "./appendix.html#release-notes" %}</li>
      <li>{% iflink "Известные проблемы", "./appendix.html#known-issues" %}</li>
       <li>{% iflink "Альтернативный рабочий процесс", "./compliance_alt.html" %}</li>
    <!--    <li>{% iflink "Cloning Alternate Workflow", "./cloning_alt.html" %}</li> -->
    </ul>
  </li>
</ul>
